.show-grid {
  margin-top: 80px;
}
.event {
  background: url("../resources/event-bg.jpg");
  height: 300px;
  background-size: cover;
}

.info {
  background-color: #fe5f55;
  height: 300px;
}

.date {
  background-color: rgba(216, 216, 216, 0.2);
  width: 20%;
  border-radius: 5px;
  font-size: 20px;
  padding: 2px;
  text-align: center;
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
  font-size: 20px;
}
