.show-grid-top {
  margin-top: 80px;
}
.event {
  background: url("../resources/event-bg.jpg");
  height: 300px;
  background-size: cover;
}

.info {
  background-color: #fe5f55;
  height: 300px;
}

.date {
  background-color: rgba(216, 216, 216, 0.2);
  width: 20%;
  border-radius: 5px;
  font-size: 20px;
  padding: 2px;
  text-align: center;
  color: white;
  margin-top: 50px;
}

h2 {
  color: white;
}

p {
  color: white;
  font-size: 20px;
}

.btn-success {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #2ecc71;
  border: none;
}

.button-row {
  border: 1px solid grey;
}

hr {
  width: 50%;
}
